@page "/DueSelector/PaymentOptionSelection/{ReturnUrl}"

<div class="mb-3">
    <h3>Kontoangaben und Zahlungsweise</h3>
</div>

@if (EntryState == null)
    return;

<div class="mb-3">
    <p>
        Wenn du deinen Beitrag via Lastschrift bezahlen möchtest, gib bitte deine Kontodaten ein.
    </p>

    <Checkbox @bind-Value=EntryState.IsDirectDeposit>Lastschriftmandat erteilen</Checkbox>
</div>

@if (EntryState.IsDirectDeposit) {
    <div class="mb-2">
        <label class="form-label">Kontoinhaber</label>
        <input type="email" class="form-control" @bind=EntryState.AccountHolder @bind:event="oninput" />
    </div>

    <div class="mb-3">
        <label class="form-label">IBAN</label>
        <input type="email" class="form-control" @bind=EntryState.IBAN @bind:event="oninput" />
    </div>

    <hr />
}

<div class="mb-3">
    <h2>Zahlungsweise</h2>
    <RadioGroup E="PaymentScedule" @bind-Value=EntryState.PaymentScedule ToStringFunc="TextForPaymentSchedule"
                DisabledValueFunc="DisabledPaymentSchedule" ExcludeValueFunc="ExcludedPaymentSchedule" />

    @* <select class="form-select" @bind=EntryState.PaymentScedule>
        <option value="@PaymentScedule.None">Bitte wähle deine Zahlungsweise aus</option>
        <option value="@PaymentScedule.Annual">Jährlich (fällig zum 01.01 eines Jahres)</option>
        <option value="@PaymentScedule.Quarterly">Quartalsweise (fällig zum 01.01, 01.04, 01.07 und 01.10)</option>
        <option value="@PaymentScedule.Monthly">Monatlich - ab 36€ Jahresbeitrag (fällig zum ersten eines Monats)</option>
    </select> *@
</div>

<div class="d-flex justify-content-between">
    <a href="@ReturnUrl" class="btn btn-primary">Zurück</a>
    <a href="/DueSelector/Summary" class="btn btn-primary">Weiter</a>
</div>